<button (click)="loginEvent.emit('Hi, Paras! You are logged in!')">
  Login
</button>

<!-- <input
  type="text"
  #box
  (keyup)="getData(box.value)"
  placeholder="event keyup"
/>
<br /><br />
<input
  type="text"
  #box1
  (keydown)="getData(box1.value)"
  placeholder="event keydown"
/>
<br /><br />
<input
  type="text"
  #box3
  (input)="getData(box3.value)"
  placeholder="event input"
/>
<h1 (mouseover)="getData('over')">Code step by step</h1>
<h1 (mouseleave)="getData('leave')">Anil Sidhu</h1>
<br /><br /> -->
